html,
body {
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  font-weight: normal;
  min-width: 320px;
}
.hidden {
  display: none;
}
/* 解决element-ui的table表格控件表头与内容列不对齐问题 */
.el-table th.gutter {
  display: table-cell !important;
}
/* 解决固定列最后一行显示不完整问题 */
.el-table__fixed {
  height: 100% !important;
}
 .el-table__placeholder {
  width: 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
